body{
    background-color: rgb(240, 243, 242);
}

img {
    height: 100px;
    width: 100px;
}

.hide{
 display: none;
 color: green;
}

.tracker{
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid green;
}

h2{

    border: 1px solid red;
}